{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="hero-image">

                    <div class="col-7">

                        <div class="hero-image-content">

                            <h1>Indentity <span>Clothing</span></h1>

                            <h4>Find your style and identity with us</h4>

                            <h6>We have a wide range of clothing items for you to choose from. Start shopping now!</h6>

                            <a href="#">Start Shopping</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="carousel-heading">

                    <h1>Our Most Popular Clothing Items</h1>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="/media/hero-image.jpg" class="d-block w-75 m-auto" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="/media/hero-image.jpg" class="d-block w-75 m-auto" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="/media/hero-image.jpg" class="d-block w-75 m-auto" alt="...">
                    </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>

                </div>

            </div>

        </div>

    </div>
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="shop-for-men-heading">

                    <h1>Shop For Men</h1>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="shop-for-men-image"></div>

            </div>

            <div class="col-12 col-md-6">

                <div class="shop-for-men-content">

                    <h1>Shop For Men</h1>

                    <h4>Find your identity today. We currently have a wide range of Men's clothing items for you to choose from.</h4>

                    <a href="#">Shop For Men's Clothing</a>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="shop-for-women-heading">

                    <h1>Shop For Women</h1>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="shop-for-women-content">

                    <h1>Shop For Women</h1>

                    <h4>Find your identity today. We currently have a wide range of women's clothing items for you to choose from.</h4>

                    <a href="#">Shop For Women's Clothing</a>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="shop-for-women-image"></div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="items-on-sale-heading">

                    <h1>Items On Sale</h1>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="items-on-sale-image"></div>

            </div>

            <div class="col-12 col-md-6">

                <div class="items-on-sale-content">

                    <h1>Items On Sale</h1>

                    <h4>Find your identity on a budget! We currently have a selection of clothing items on sale at a discounted price.</h4>

                    <a href="#">Shop For Item's On Sale</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}