{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Home page hero Image section -->
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="hero-image">

                    <div class="col-12 col-md-7">

                        <div class="hero-image-content">

                            <h1>Indentity <span>Clothing</span></h1>

                            <h4>Find your style and identity with us</h4>

                            <h6>We have a wide range of clothing items for you to choose from. Start shopping now!</h6>

                            <a href="{% url 'products' %}">Start Shopping</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Swiper JS header section -->
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="carousel-heading">

                    <h1>Our Most Popular Clothing Items</h1>

                </div>

            </div>

        </div>

        <!-- Swiper JS Section -->

        <div class="row">

            <div class="col-12">

                <!-- Slider main container -->

                <div class="swiper">

                    <!-- Additional required wrapper -->
                    
                    <div class="swiper-wrapper">

                    <!-- Swiper slides -->

                    {% for product in best_seller_products %}  

                        <div class="swiper-slide">
                                    
                            <div>                   
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <i class="fas fa-image"></i>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="best-sellers-name">

                                <a href="{% url 'product_detail' product.id %}">
                                    <h6><strong>{{ product.name }}</strong></h6>
                                </a>

                            </div>

                            <div class="home-average-rating">

                                {% if product.average_rating > 0 %}
                                    {% with ''|center:product.average_rating as range %}
                                        {% for _ in range %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                    {% endwith %}
                                {% else %}
                                    <h5 class="text-danger"><strong>No Rating</strong></h5>
                                {% endif %}


                            </div>

                            <div class="best-sellers-info">

                                <h6><strong>Price:</strong> £{{ product.price }}</h6>

                            </div>

                            <div class="best-sellers-button">

                                <a href="{% url 'product_detail' product.id %}">View Clothing Item</a>

                            </div>

                        </div>

                    {% endfor %}

                </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                    
                </div>

            </div>

        </div>

    </div>

    <!-- Home page shop for men header -->
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="shop-for-men-heading">

                    <h1>Shop For Men</h1>

                </div>

            </div>

        </div>

        <!-- Home page shop for men section -->

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="shop-for-men-image"></div>

            </div>

            <div class="col-12 col-md-6">

                <div class="shop-for-men-content">

                    <h1>Shop For Men</h1>

                    <h4>Find your identity today. We currently have a wide range of Men's clothing items for you to choose from.</h4>

                    <a href="{% url 'products' %}?category=mens_hoodies,mens_shorts,mens_tshirts">Shop For Men's Clothing</a>

                </div>

            </div>

        </div>

    </div>

    <!-- Home page shop for women header -->

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="shop-for-women-heading">

                    <h1>Shop For Women</h1>

                </div>

            </div>

        </div>

        <!-- Home page shop for women section -->

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="shop-for-women-content">

                    <h1>Shop For Women</h1>

                    <h4>Find your identity today. We currently have a wide range of women's clothing items for you to choose from.</h4>

                    <a href="{% url 'products' %}?category=womens_hoodies,womens_shorts,womens_tshirts">Shop For Women's Clothing</a>

                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="shop-for-women-image"></div>

            </div>

        </div>

    </div>

    <!-- Home page shop for items on sale header -->

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="items-on-sale-heading">

                    <h1>Items On Sale</h1>

                </div>

            </div>

        </div>

        <!-- Home page shop for items on sale section -->

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="items-on-sale-image"></div>

            </div>

            <div class="col-12 col-md-6">

                <div class="items-on-sale-content">

                    <h1>Items On Sale</h1>

                    <h4>Find your identity on a budget! We currently have a selection of clothing items on sale at a discounted price.</h4>

                    <a href="{% url 'products_on_sale' %}">Shop For Item's On Sale</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>

        const swiper = new Swiper('.swiper', {
            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

    </script>
{% endblock %}