{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="hero-image">

                    <div class="col-7">

                        <div class="hero-image-content">

                            <h1>Indentity <span>Clothing</span></h1>

                            <h4>Find your style and identity with us</h4>

                            <h6>We have a wide range of clothing items for you to choose from. Start shopping now!</h6>

                            <a href="#">Start Shopping</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>  

{% endblock %}