{% extends "base.html" %}
{% load static %}

{% block extra_js %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">

        (function() {
            emailjs.init("user_8vBZjxGRThwYy1BQa2nqH");
        })();

    </script>

{% endblock %}

{% block content %}

    <!-- Main Contact Us page header section -->
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="contact-header">

                    <h1>Contact Us</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <!-- Contact us page department phone numbers and email address section -->

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="customer-contact-text">

                    <h4>Identity Clothing - Customer Service & Sales Department</h4>

                    <h6><strong>Have a question about a clothing item?</strong> Call our Sales Department on <a href="tel:01234567890">+44 123 456 7890</a> 
                        or send us an email at <a href="mailto:sales@identityclothing.com">sales@indentityclothing.com</a></h6>

                    <h6><Strong>Need some help with an order?</Strong> Call our Customer Service Deparment on <a href="tel:02134567890">+44 213 456 7890</a> 
                        or send us an email at <a href="mailto:customerservice@identityclothing.com">customerservice@indentityclothing.com</a></h6>
                    

                </div>

                <div class="technical-contact-text">

                    <h4>Identity Clothing - Technical Support</h4>

                    <h6><strong>Having a problem online?</strong> Call our Technical Support Team on <a href="tel:03214567890">+44 321 456 7890</a>
                        or send us an email at <a href="mailto:technicalsupport@identityclothing.com">technicalsupport@indentityclothing.com</a></h6>

                </div>

                <hr>

                <!-- Contact us page main contact form section -->

                <div class="contact-form-text">

                    <h4>For General Enquiries - Please fill in the contact form below</h4>

                </div>

                <div class="contact-form">

                    <form id="contact-form">

                        <label for="name">Enter Your Name:</label>
                        <input id="name" name="name" type="text" minlength="3" maxlength="20" placeholder="Name*" required>

                        <label for="email">Enter Your Email Address:</label>
                        <input id="email" name="email" type="email" placeholder="Email Address*" required>

                        <label for="phone">Enter Your Phone Number:</label>
                        <input id="phone" name="phone" type="tel" pattern="[0-9]{11}" placeholder="Phone Number*" required>

                        <label for="message">Enter Your Message:</label>
                        <textarea id="message" name="message" placeholder="Your Message*" rows="7" cols="35" required></textarea>

                        <div class="contact-button">

                            <button type="submit">Submit Message</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <!-- FAQ Header section -->

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="contact-header">

                    <h1>FAQs</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <!-- Accordion FAQ question and answer section -->

    <div class="container">

        <div class="row">

            <div class="col-12">

                <p>Below is a list of some so our frequently asked questions that maybe able to answer any questions you may have.</p>
                <p>If you can't find the question or answer you are looking for, please get in touch with us by using our contact form above.</p>

            </div>

            <div class="col-12">

                <div class="faqs-section">

                    {% for faq in faqs %}

                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">

                        <h2 class="accordion-header" id="heading{{ faq.id }}">

                            <!-- Credit: https://stackoverflow.com/questions/64410334/create-multiple-collapse-when-i-use-for-loop-in-django-template
                                 So only 1 item can open and collapse at a time -->

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                            
                                <h5>{{ faq.question }}</h5>
                            
                            </button>

                        </h2>

                        <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#accordionExample">

                            <div class="accordion-body">

                                <p>{{ faq.answer }}</p>
                            
                            </div>

                        </div>

                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'contact/js/contact.js' %}"></script>
{% endblock %}