/* ----- Profile Page Styling ----- */

/* ----- Profile Page Header Styling ----- */

.profile-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 3rem;
}

.profile-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

/* ----- Profile Page Delivery Form Styling ----- */

.profile-delivery-form{
    padding-right: 2.55%;
}

.profile-delivery-form p{
    color: #152238;
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-delivery-form input{
    border: 2px solid #152238;
    margin: 1rem 0;
    border-radius: 0;
}

.profile-delivery-form select{
    border: 2px solid #152238;
    margin: 1rem 0;
    border-radius: 0;
    height: 45px;
}

.profile-delivery-form input::placeholder{
    color: #152238;
}

.profile-delivery-form button{
    background-color: #fafafa;
    border: 2px solid #152238;
    padding: 0.75rem 1.25rem;
    color: #152238;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.profile-delivery-form button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Profile Page Delivery Form Input Field Styling ----- */

.profile-form-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #fafafa;
}

.profile-form-input:focus,
.profile-form-input:active {
    border: 2px solid #f68b58 !important;
    box-shadow: none; 
}

.profile-form-input::placeholder {
    color: #152238 !important;
}

/* ----- Profile Page Order History Styling ----- */

.profile-order-history{
    max-height: 450px;
    overflow-y: auto;
}

.profile-order-history p{
    color: #152238;
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-order-history ul{
    padding-top: 0.5rem;
    padding-left: 0;
}

.profile-order-history ul li{
    list-style-type: none;
    padding: 0.25rem 0;
}

.profile-order-number{
    width: 125px;
}

.profile-order-date{
    width: 175px;
}

.profile-order-items{
    width: 250px;
}

.profile-order-total{
    text-align: right;
    width: 100px;
}