{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="shopping-cart-header">

                    <h1>Shopping Cart</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row row-color">

            <div class="col-12">

                {% if bag_items %}

                    <!-- Mobile Device Layout -->

                    <div class="d-block d-md-none">

                        <div class="row">

                            <div class="col-12">

                                {% include "bag/bag-total.html" %}

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-12">

                                {% include "bag/bag-buttons.html" %}

                            </div>

                        </div>

                        {% for item in bag_items %}

                            <hr>

                            <div class="bag-table">

                                <div class="row">

                                    {% include "bag/product-image.html" %}

                                    {% include "bag/product-info.html" %}


                                    {% if item.product.is_on_sale %}
                                        <p><strong>Sale Price: £{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                    {% else %}
                                        <p><strong>Price: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                    {% endif %}

                                    {% if item.product.is_on_sale %}
                                        <p><strong>Price Each: £{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                    {% else %}
                                        <p><strong>Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                    {% endif %}

                                    {% include "bag/quantity-form.html" %}

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                    <!-- Tablet Device Layout -->

                    <div class="d-none d-md-block d-lg-none">

                        {% for item in bag_items %}

                            <div class="row">

                                <div class="col-6">

                                    <div class="bag-table-img">

                                        {% include "bag/product-image.html" %}

                                    </div>

                                </div>

                                <div class="col-6">
                                    
                                    <div class="bag-table">

                                        {% include "bag/product-info.html" %}

                                        {% if item.product.is_on_sale %}
                                            <p><strong>Sale Price: £{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                        {% else %}
                                            <p><strong>Price: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                        {% endif %}

                                        {% if item.product.is_on_sale %}
                                            <p><strong>Price Each: £{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                        {% else %}
                                            <p><strong>Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                        {% endif %}

                                        {% include "bag/quantity-form.html" %}

                                    </div>

                                </div>

                            </div>

                            <hr>

                        {% endfor %}

                        <div class="row">

                            <div class="col-12">

                                {% include "bag/bag-total.html" %}

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-12">

                                {% include "bag/bag-buttons.html" %}

                            </div>

                        </div>

                    </div>

                    <!-- Laptop/ Desktop Device Layout -->

                    <div class="shopping-cart-table d-none d-lg-block">
                        
                        <table class="table">

                            <thead>

                                <tr>

                                    <th>Product Image</th>
                                    <th>Product Info</th>
                                    <th>Product Price</th>
                                    <th>Product Size</th>
                                    <th>Product Qty</th>
                                    <th>Subtotal</th>


                                </tr>

                            </thead>

                            {% for item in bag_items %}

                                <tr>

                                    <td>
                                        {% include "bag/product-image.html" %}
                                    </td>

                                    <td>
                                        {% include "bag/product-info.html" %}
                                    </td>

                                    <td>
                                        {% if item.product.is_on_sale %}
                                            <p><strong>£{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                        {% else %}
                                            <p><strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <p><strong>{{ item.product_size }}</strong></p>
                                    </td>

                                    <td>

                                        {% include "bag/quantity-form.html" %}

                                    </td>

                                    <td>
                                        {% if item.product.is_on_sale %}
                                            <p><strong>£{{ item.product.calculate_sale_price | calc_subtotal:item.quantity }}</strong></p>
                                        {% else %}
                                            <p><strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                        {% endif %}
                                    </td>

                                </tr>
                                
                            {% endfor %}

                        </table>

                    </div>

                    <div class="shopping-cart-total d-none d-lg-block">

                        <tr>

                            <td>

                                {% include "bag/bag-total.html" %}

                            </td>

                        </tr>

                    </div>

                    <div class="shopping-cart-buttons d-none d-lg-block">

                        {% include "bag/bag-buttons.html" %}

                    </div>

                {% else %}

                    <div class="shopping-cart-empty">

                        <p>Your Shopping Cart is currently empty</p>

                        <a href="{% url 'products' %}">

                            <span>Shop For Some Clothing Items</span>

                        </a>

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}