{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="profile-header">

                    <h1>My Profile</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <!-- Profile Information Section -->

    <div class="container">

        <div class="row">

            <div class="col-12 col-lg-6">

                <div class="profile-delivery-form">

                    <p>Your Default Delivery Information</p>

                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">

                        {% csrf_token %}
                        {{ form|crispy }}

                        <button>Update Delivery Information</button>

                    </form>

                </div>

            </div>

            <!-- Mobile Device Layout -->

            <div class="d-block d-md-none">

                <div class="row">

                    <div class="col-12">

                        <p class="mobile-order-history">Your Order History</p>

                    </div>

                </div>

                <!-- Order Information Section -->

                {% for order in orders %}

                    <hr>

                    <div class="row">

                        <div class="profile-order-number">

                            <strong>Order No. </strong><a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:10 }}
                            </a>

                        </div>

                        <div class="profile-order-date"><strong>Date:</strong> {{ order.date }}</div>

                        <hr>

                        <div class="profile-order-items">

                            <ul>
                                {% for item in order.lineitems.all %}
                                    <li><strong>Produce Name:</strong> {{ item.product.name }}</li>
                                    <li><strong>Product Size:</strong> {{ item.product.product_size|upper }}</li>
                                    <li><strong>Product Qty:</strong> x{{ item.quantity }}</li>
                                    <hr>
                                {% endfor %}
                            </ul>  

                        </div>

                        <div class="profile-order-total text-danger"><strong>Grand Total:</strong> £{{ order.grand_total }}</div>

                    </div>

                {% endfor %}

            </div>

            <!-- Order History Section -->
           
            <div class="col-12 col-lg-6 d-none d-md-block">

                <div class="profile-order-history table-responsive">

                    <p>Your Order History</p>

                    <table class="table table-md">

                        <thead>

                            <tr>

                                <th>Order Number</th>
                                <th>Order Date</th>
                                <th>Order Items</th>
                                <th>Order Total</th>

                            </tr>

                        </thead>

                        <tbody>

                            <!-- Order Information -->

                            {% for order in orders %}

                                <tr>

                                    <td class="profile-order-number">

                                        <strong><a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:10 }}
                                        </a></strong>

                                    </td>

                                    <td class="profile-order-date"><strong>{{ order.date }}</strong></td>

                                    <td class="profile-order-items">

                                        <ul>
                                            {% for item in order.lineitems.all %}
                                                <li><strong>Produce Name:</strong> {{ item.product.name }}</li>
                                                <li><strong>Product Size:</strong> {{ item.product.product_size|upper }}</li>
                                                <li><strong>Product Qty:</strong> x{{ item.quantity }}</li>
                                                <hr>
                                            {% endfor %}
                                        </ul>  

                                    </td>

                                    <td class="profile-order-total"><strong>£{{ order.grand_total }}</strong></td>

                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

{% endblock %}