{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="profile-header">

                    <h1>My Profile</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">

           

        </div>

    </div>

{% endblock %}