/* ----- Checkout Page Styling ----- */

.profile-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 3rem;
}

.profile-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}