*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0;
}

.row>*{
    padding: 0;
}

.row{
    --bs-gutter-x: 0;
}

body{
    font-family: "Cabin", sans-serif;
}

.header-content{
    display: flex;
    background-color: #fafafa;
    height: 80px;
    border-bottom: 2px solid #152238;
}

.header-content .col-5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
}

.header-logo a{
    text-decoration: none;
    font-size: 1.75rem;
    color: #152238;
    cursor: pointer;
}

.header-logo span{
    color: #f68b58;
}

.header-content .col-7{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 3rem;
}

.header-icons ul li{
    width: 90px;
}

.header-icons ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #152238;
    font-weight: bold;
}

.header-icons ul li a:hover{
    transform: scale(1.05);
    color: #f68b58;
}

.header-icons ul li a i{
    font-size: 1.75rem;
}

.navigation .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 65px;
    border-bottom: 2px solid #152238;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

.nav-links ul li{
    padding: 0 3rem;
    text-align: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: #152238;
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links ul li a:hover{
    color: #f68b58;
}

/* ----- Index Page Styling ----- */

/* ----- Header Image Styling ----- */

.hero-image{
    background: url(/images/hero-image.jpg) no-repeat center center;
    width: 100%;
    height: 800px;
}

.hero-image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.hero-image-content h1{
    font-size: 6rem;
}

.hero-image-content span{
    color: #f68b58;
}

.hero-image-content h4{
    font-size: 3.5rem;
    padding: 1.5rem;
}

.hero-image-content h6{
    font-size: 1.5rem;
    padding: 1rem 1.5rem 2.5rem;
}

.hero-image-content a{
    text-decoration: none;
    border: 2px solid #152238;
    border-radius: 20px;
    padding: 1.5rem 4rem;
    color: #152238;
    font-size: 1.5rem;
}

.hero-image-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Carousel Styling ----- */

.carousel-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.carousel-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

div#carouselExampleIndicators.carousel.slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    background: #fafafa;
}

span.carousel-control-next-icon,
span.carousel-control-prev-icon {
    background-color: #152238;
}

/* ----- Shop For Men Styling ----- */

.shop-for-men-image{
    background: url(/images/shop-for-men.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
}

.shop-for-men-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
    border-top: 2px solid #152238;
}

.shop-for-men-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.shop-for-men-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.shop-for-men-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.shop-for-men-content h4{
    padding-bottom: 1.5rem;
}

.shop-for-men-content a{
    text-decoration: none;
    border: 2px solid #152238;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.shop-for-men-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Shop For Women Styling ----- */

.shop-for-women-image{
    background: url(/images/shop-for-women.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
}

.shop-for-women-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.shop-for-women-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.shop-for-women-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.shop-for-women-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.shop-for-women-content h4{
    padding-bottom: 1.5rem;
}

.shop-for-women-content a{
    text-decoration: none;
    border: 2px solid #152238;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.shop-for-women-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Items On Sale Styling ----- */

.items-on-sale-image{
    background: url(/images/items-on-sale.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
}

.items-on-sale-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.items-on-sale-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.items-on-sale-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.items-on-sale-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.items-on-sale-content h4{
    padding-bottom: 1.5rem;
}

.items-on-sale-content a{
    text-decoration: none;
    border: 2px solid #152238;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.items-on-sale-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Allauth Header Styling ----- */

.allauth-page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #152238;
}

hr{
    margin: auto;
    border: 1px solid #152238;
    opacity: 1;
    width: 700px;
}

.sign-in-form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1rem;
}

.sign-in-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-form p label{
    font-size: 1.25rem;
    color: #152238;
}

.sign-in-form p input{
    width: 550px;
    padding: 0.25rem;
    border: 2px solid #152238;
    border-radius: 5px;
}

.sign-in-form p input::placeholder{
    color: #152238;
}

.sign-in-forgot a{
    color: #152238;
}

.sign-in-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.sign-in-button button{
    background: transparent;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
}

button.primaryAction{
    margin: 0;
}

.new-customer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-customer-content h2{
    padding: 1.5rem 0 0.5rem;
}

.new-customer-content h4{
    padding: 0 0 1rem;
}

.new-customer-content a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

/* ----- Products Page Styling ----- */

.current-category-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}

.current-category-header h1{
    margin-left: 5%;
    font-size: 3rem;
    color: #152238;
    text-align: left;
    width: 90%;
}

.category-name-buttons-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 2.5rem;
}

.category-name-buttons-section a{
    text-decoration: none;
    border: 2px solid #152238;
    margin: 0 0.5rem;
    padding: 0.35rem 1rem;
    color: #152238;
    font-size: 1rem;
}

.category-name-buttons-section a:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

.category-name-buttons a{
    text-decoration: none;
    border: 2px solid #152238;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: #152238;
    font-size: 1rem;
}

.category-name-buttons a:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

.product-number{
    margin-top: 0.5rem;
    margin-left: 5rem;
    font-size: 1.1rem;
}

.product-number a{
    color: #152238;
}

.product-filters{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5rem;
}

select{
    border: 2px solid #152238;
    border-radius: 0;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    color: #152238;
    font-size: 1rem;
    width: 250px;
    cursor: pointer;
}

.product-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 0rem;
}

.product-item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image-card{
    height: 302px;
    width: 302px;
    border: 1px solid #152238;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.product-image-card img{
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.product-image-name{
    width: 302px;
    border-right: 1px solid #152238;
    border-left: 1px solid #152238;
}

.product-image-name a{
    text-decoration: none;
    color: #152238;
}

.product-image-name h6{
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    margin: 0;
}

.product-image-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 302px;
    padding: 0.75rem 0 1rem;
    border-right: 1px solid #152238;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid #152238;
    border-bottom: 1px solid #152238;
}

.product-image-content h6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0;
}

.product-image-content i{
    color: #efc501;
}

div hr{
    border: 1px solid #152238;
    width: 90%;
}

/* ----- Product Detail Page Styling ----- */

.product-detail-item{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 2.5rem 4rem 2.5rem 0rem;
}

.product-detail-item-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.product-detail-item-content div{
    margin-top: 5rem;
}

.product-detail-item-content h6{
    font-size: 1.5rem;
    padding: 0.25rem 0;
    margin: 0;
}

.product-detail-item-content i{
    color: #efc501;
}

.product-detail-item-content p{
    font-size: 1.5rem;
}

.product-detail-image-card{
    height: 452px;
    width: 452px;
    border: 1px solid #152238;
}

.product-detail-image-card img{
    width: 450px;
    height: 450px;
}

/* ----- Footer Styling ----- */

footer{
    background-color: #fafafa;
}

footer .quick-links p{
    text-align: center;
    padding: 1rem 0 1.5rem;
    color: #152238;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

footer .quick-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

footer .quick-links ul strong{
    font-size: 1.1rem;
}

footer .quick-links ul li{
    padding: 0 1.5rem;
}

footer .quick-links ul li:hover{
    transform: scale(1.05);
}

footer .quick-links ul li a{
    text-decoration: none;
    color: #152238;
    font-size: 1.25rem;
    font-weight: bold;
}

footer .quick-links ul li a:hover{
    color: #f68b58;
}

footer .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer .social-links ul{
    margin: 0;
    padding: 0;
}

footer .social-links li{
    display: inline-block;
    list-style-type: none;
    padding: 0.75rem 0;
}

footer .social-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152238;
    color: #fafafa;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem;
    text-decoration: none;
}

footer .social-links li a:hover{
    background-color: #f68b58;
    color: #152238;
    font-weight: bold;
}

footer .copyright p{
    color: #152238;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

nav.navbar.navbar-expand-lg.navbar-light{
    display: none;
}

@media screen and (max-width: 768px) {

    .navigation{
        display: none;
    }

    .header-content .col-5{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2rem;
    }

    .header-logo a{
        font-size: 1.5rem;
    }

    .header-icons ul{
        margin-right: 1.5rem;
    }

    ul.dropdown-menu{
        display: none;
    }

    nav.navbar.navbar-expand-lg.navbar-light{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        border-bottom: 2px solid #152238;
        width: 100%;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler{
        background-color: #fafafa;
        border: 2px solid #152238;
        width: 3.5rem;
        height: 3rem;
        text-align: center;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler span.fas.fa-bars::before{
        color: #152238;
        font-size: 1.75rem;
    }

    div#navbarToggleExternalContent.burger-nav-links.collapsing{
        display: none;
    }

    div#navbarToggleExternalContent.burger-nav-links.collapse.show{
        background-color: #fafafa;
        padding: 2rem;
    }

    .burger-nav-links ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
        margin-bottom: 0;
    }
    
    .burger-nav-links ul li{
        padding: 0 1rem;
    }
    
    .burger-nav-links ul li a{
        text-decoration: none;
        color: #152238;
        font-weight: bold;
        font-size: 1.25rem;
    }
    
    .burger-nav-links ul li a:hover{
        color: #f68b58;
    }

}