*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    padding-left: 0;
}

.container-fluid{
    padding: 0;
}

.row>*{
    padding: 0;
}

.row{
    --bs-gutter-x: 0;
}

.row-color{
    background-color: #fafafa;
}

/* ----- Bootstrap Toast Messages Styling ----- */

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #152238;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----- Body Styling ----- */

body{
    font-family: "Cabin", sans-serif;
    background-color: #fafafa;
}

/* ----- Navigation Menu Styling ----- */

.header-content{
    display: flex;
    background-color: #fafafa;
    height: 80px;
    border-bottom: 2px solid #152238;
}

.header-content-mobile{
    display: none;
}

.header-content .col-5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
}

.header-logo a{
    text-decoration: none;
    font-size: 1.75rem;
    color: #152238;
    cursor: pointer;
}

.header-logo span{
    color: #f68b58;
}

.header-content .col-7{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 3rem;
}

.header-icons ul li{
    width: 90px;
}

.header-icons ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #152238;
    font-weight: bold;
}

.header-icons ul li a:hover{
    transform: scale(1.05);
    color: #f68b58;
}

.header-icons ul li a i{
    font-size: 1.75rem;
}

.navigation .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 65px;
    border-bottom: 2px solid #152238;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

.nav-links ul li{
    padding: 0 2rem;
    text-align: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: #152238;
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links ul li a:hover{
    color: #f68b58;
}

/* ----- Index Page Styling ----- */

/* ----- Header Image Styling ----- */

.hero-image{
    background: url(/media/hero-image.jpg) no-repeat center center;
    width: 100%;
    height: 800px;
}

.hero-image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.hero-image-content h1{
    padding: 0 2rem;
    font-size: 5rem;
    text-align: center;
}

.hero-image-content span{
    color: #f68b58;
}

.hero-image-content h4{
    font-size: 3rem;
    padding: 1.5rem 2.5rem 1rem;
    text-align: center;
}

.hero-image-content h6{
    font-size: 1.5rem;
    padding: 1rem 2rem 2.5rem;
    text-align: center;
}

.hero-image-content a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 1.5rem 4rem;
    color: #152238;
    font-size: 1.5rem;
}

.hero-image-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Carousel Styling ----- */

.carousel-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.carousel-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.swiper {
    width: 750px;
    height: 525px;
    margin-bottom: 2rem;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 525px;
}

div.swiper-slide.swiper-slide-active{
    width: 750px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-info{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0;
}

.swiper-info i{
    color: #efc501;
}

.swiper-slide button{
    padding: 0.5rem;
    width: 300px;
    border: 2px solid #152238;
    background-color: #fafafa;
    color: #152238;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.swiper-slide button:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

div.swiper-button-next{
    color: #152238;
}

div.swiper-button-prev{
    color: #152238;
}

div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin-bottom: 2rem;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #152238;
}

div.swiper-scrollbar{
    margin-bottom: 1rem;
    background: rgba(21, 34, 56, 0.5)
}

div.swiper-scrollbar-drag{
    background: #152238 !important;
}

/* ----- Shop For Men Styling ----- */

.shop-for-men-image{
    background: url(media/shop-for-men.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
}

.shop-for-men-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
    border-top: 2px solid #152238;
}

.shop-for-men-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.shop-for-men-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.shop-for-men-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.shop-for-men-content h4{
    padding-bottom: 1.5rem;
}

.shop-for-men-content a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.shop-for-men-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Shop For Women Styling ----- */

.shop-for-women-image{
    background: url(media/shop-for-women.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
}

.shop-for-women-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.shop-for-women-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.shop-for-women-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    border-bottom: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.shop-for-women-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.shop-for-women-content h4{
    padding-bottom: 1.5rem;
}

.shop-for-women-content a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.shop-for-women-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Items On Sale Styling ----- */

.items-on-sale-image{
    background: url(media/items-on-sale.jpg) no-repeat center center;
    width: 100%;
    height: 450px;
    border-top: 2px solid #152238;
}

.items-on-sale-heading h1{
    background: #fafafa;
    text-align: center;
    padding: 4rem 0 1rem;
    margin: 0;
}

.items-on-sale-heading h1::after{
    content: '';
    display: block;
    background-color: #152238;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.items-on-sale-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    background-color: #fafafa;
    border-top: 2px solid #152238;
    padding: 0 3rem;
    text-align: center;
}

.items-on-sale-content h1{
    text-transform: uppercase;
    padding: 1rem;
}

.items-on-sale-content h4{
    padding-bottom: 1.5rem;
}

.items-on-sale-content a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 1rem 2rem;
    color: #152238;
    font-size: 1.25rem;
}

.items-on-sale-content a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Allauth Header Styling ----- */

.account-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}

.account-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

hr{
    margin: auto;
    border: 1px solid #152238;
    opacity: 1;
    width: 700px;
}

/* ----- Allauth Sign In Form Styling ----- */

.sign-in-form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1rem;
    text-transform: uppercase;
    color: #152238;
}

.sign-in-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form label{
    font-size: 1.25rem;
    color: #152238;
}

.sign-in-form input{
    width: 750px;
    padding: 0.5rem 0.5rem;
    border: 2px solid #152238;
    outline: none;
    border-radius: 0;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
    width: 0;
    height: 20px;
    margin-right: 0.25rem;
    margin-bottom: 0;
}

div#div_id_remember.mb-3{
    margin-bottom: 0 !important;
}

.sign-in-form input:focus,
.sign-in-form input:active {
    border: 2px solid #f68b58 !important;
    box-shadow: none; 
}

.sign-in-form input::placeholder{
    color: #152238;
}

.sign-in-forgot a{
    color: #152238;
}

.sign-in-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.sign-in-button button{
    background: transparent;
    border: 2px solid #152238;
    width: 300px;
    padding: 0.75rem;
    color: #152238;
    font-size: 1.25rem;
}

.sign-in-button button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

button.primaryAction{
    margin: 0;
}

.sign-in-forgot{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.new-customer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.new-customer-content h1{
    padding: 2.5rem 0 0.5rem;
    text-transform: uppercase;
    color: #152238;
}

.new-customer-content h4{
    padding: 0 0 1rem;
    color: #152238;
}

.new-customer-content a{
    text-decoration: none;
    border: 2px solid #152238;
    width: 300px;
    padding: 0.75rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.new-customer-content a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Allauth Sign Up Form Styling ----- */

.sign-up-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.sign-up-button button{
    background: transparent;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
}

.sign-up-button button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Allauth Sign Out Styling ----- */

.sign-out-section{
    height: 60vh;
}

.sign-out p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0 1.5rem;
}

.sign-out button{
    background: transparent;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
}

.sign-out button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Allauth Reset Password Styling ----- */

.reset-password-section{
    height: 65vh;
}

.reset-password input#id_email{
    width: 750px;
    padding: 0.5rem 0.5rem;
    border: 2px solid #152238;
    outline: none;
    border-radius: 0;
    margin-bottom: 1rem;
}

.reset-password input#id_email:hover{
    color: #152238;
    background-color: #fafafa;
}

.reset-password input{
    width: 225px;
    padding: 0.75rem 0.5rem;
    border: 2px solid #152238;
    background-color: #fafafa;
    outline: none;
    border-radius: 0;
    color: #152238;
    font-size: 1.1rem;
}

.reset-password input:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

.reset-password input:focus,
.reset-password input:active {
    border: 2px solid #f68b58 !important;
    box-shadow: none; 
}

.reset-password input::placeholder{
    color: #152238;
}

.reset-password p{
    color: #152238;
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: bold;
}

.reset-password-button p{
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.reset-password-button a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.reset-password-button a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Allauth Password Reset Done Styling ----- */

.password-reset-done-section{
    height: 60vh;
}

.password-reset-done-section p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.password-reset-done-section a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.password-reset-done-section a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Allauth Verify Email Styling ----- */

.verify-email-section{
    height: 60vh;
}

.verify-email p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #152238;
}

.verify-email a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.verify-email a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

.account-inactive-section{
    height: 67vh;
}

.account-inactive-section p{
    color: #152238;
    font-size: 2rem;
    font-weight: bold;
}

/* ----- Allauth Confirm Email Address Styling ----- */

.issue-new-email-section{
    height: 70vh;
}

.issue-new-email-section p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #152238;
    margin-bottom: 2rem;
}

.issue-new-email-section a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.issue-new-email-section a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

.confirmation-email-section{
    height: 70vh;
}

.confirmation-email-section p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #152238;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.confirmation-email-section button{
    background-color: #fafafa;
    border: 2px solid #152238;
    padding: 0.75rem 4rem;
    color: #152238;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.confirmation-email-section button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Contact Page Styling ----- */

.contact-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}

.contact-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer-contact-text{
    margin-bottom: 2rem;
}

.customer-contact-text h4{
    color: #152238;
    padding-bottom: 0.5rem;
}

.customer-contact-text h6{
    color: #152238;
}

.customer-contact-text a{
    font-weight: bold;
}

.technical-contact-text{
    margin-bottom: 2rem;
}

.technical-contact-text h4{
    color: #152238;
    padding-bottom: 0.5rem;
}

.technical-contact-text h6{
    color: #152238;
}

.technical-contact-text a{
    font-weight: bold;
}

.contact-form-text{
    text-align: center;
    margin-top: 1.5rem;
    color: #152238;
}

.contact-form form{
    width: 750px;
}

.contact-form form label{
    color: #152238;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.contact-form form input{
    width: 750px;
    padding: 0.5rem 0.5rem;
    border: 2px solid #152238;
    outline: none;
    border-radius: 0;
}

.contact-form form textarea{
    width: 750px;
    padding: 0.5rem 0.5rem;
    border: 2px solid #152238;
    outline: none;
    border-radius: 0;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder{
    color: #152238;
}

.contact-form form button{
    background-color: #fafafa;
    border: 2px solid #152238;
    width: 300px;
    padding: 0.75rem;
    color: #152238;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.contact-form form button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

/* ----- Search Page Styling ----- */

.search-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}

.search-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

.search-bar-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.search-bar{
    border-top: 2px solid #152238;
    border-left: 2px solid #152238;
    border-bottom: 2px solid #152238;
    border-right: none;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 92.5%;
}

.search-bar:focus,
.search-bar:active {
    border-top: 2px solid #f68b58;
    border-left: 2px solid #f68b58;
    border-bottom: 2px solid #f68b58;
    box-shadow: none !important;
    outline: none;
}

.search-bar::placeholder{
    color: #152238;
    font-size: 1.1rem;
}

.search-input button{
    background-color: #fafafa;
    color: #152238;
    border: 2px solid #152238;
}

.search-button{
    background-color: #fafafa;
    color: #152238;
    border: 2px solid #152238;
    width: 100px;
    height: 44px;
}

.search-button:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

.search-bar-text{
    margin: 1rem 0 1.5rem;
}

.search-bar-text h4{
    color: #152238;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.search-bar-text p{
    color: #152238;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.no-results{
    margin: 1rem 0 1.5rem;
}

.no-results h2{
    color: #152238;
    text-transform: uppercase;
}

.no-results h4{
    color: #152238;
    margin-bottom: 1rem;
}

.no-results p{
    color: #152238;
    font-size: 1.25rem;
    font-weight: bold;
}

.search-men-category-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-men-category-image img{
    border: 2px solid #152238;
}

.search-women-category-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-women-category-image img{
    border: 2px solid #152238;
}

.search-sale-category-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-sale-category-image img{
    border: 2px solid #152238;
}

.search-all-category-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-all-category-image img{
    border: 2px solid #152238;
}

.search-category-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-category-buttons a{
    text-decoration: none;
    text-align: center;
    width: 300px;
    margin: 1.5rem 0 2.5rem;
    color: #152238;
    border: 2px solid #152238;
    padding: 0.5rem;
}

.search-category-buttons a:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}


/* ----- Products Page Styling ----- */

.current-category-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}

.current-category-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    width: 90%;
    text-transform: uppercase;
}

.category-name-buttons-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    margin-bottom: 2.5rem;
}

.category-name-buttons a{
    text-decoration: none;
    border: 2px solid #152238;
    margin: 0 0.25rem;
    padding: 0.5rem;
    color: #152238;
    font-size: 0.8rem;
}

.category-name-buttons a:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

.product-number{
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.product-number a{
    color: #152238;
}

.product-filters{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

select{
    border: 2px solid #152238;
    border-radius: 0;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    color: #152238;
    font-size: 1rem;
    width: 250px;
    cursor: pointer;
}

select#sort-selector.black{
    margin: 0;
}

.product-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 0rem;
}

.product-item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image-card{
    height: 302px;
    width: 302px;
    border: 1px solid #152238;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.product-image-card img{
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.product-image-name{
    width: 302px;
    border-right: 1px solid #152238;
    border-left: 1px solid #152238;
}

.product-image-name a{
    text-decoration: none;
    color: #152238;
}

.product-image-name h6{
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    margin: 0;
}

.product-image-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 302px;
    padding: 0.75rem 0 1rem;
    border-right: 1px solid #152238;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid #152238;
    border-bottom: 1px solid #152238;
}

.product-image-content h6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0;
}

.product-image-content i{
    color: #efc501;
}

div hr{
    border: 1px solid #152238;
    width: 100%;
}

.product-super-user-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 1rem 0.75rem;
    border: 1px solid #152238;
    border-radius: 15px;
    border-top: none;
}

.product-super-user-buttons .edit-button-product{
    text-decoration: none;
    color: #5cb85c;
    font-weight: bold;
}

.product-super-user-buttons .delete-button-product{
    text-decoration: none;
    color: #dc3545;
    font-weight: bold;
}

/* ----- Product Detail Page Styling ----- */

.product-detail-item{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 2.5rem 4rem 2.5rem 0rem;
}

.product-detail-item-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-top: 2.5rem;
}

.product-detail-item-content div{
    margin-top: 5rem;
}

.product-detail-item-content h6{
    font-size: 1.5rem;
    padding: 0.25rem 0;
    margin: 0;
}

.product-detail-item-content i{
    color: #efc501;
    padding: 0 0 0.25rem;
}

.product-detail-item-content p{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.product-detail-image-card{
    height: 452px;
    width: 452px;
    border: 1px solid #152238;
}

.product-detail-image-card img{
    width: 450px;
    height: 450px;
}

div.product-detail-form,
div.col-12{
    margin-top: 0;
}

div.product-detail-size{
    margin-top: 0rem;
}

div.product-detail-size select{
    margin: 0;
    border: 2px solid #152238;
    background-color: #fafafa;
    color: #152238;
    width: 300px;
    padding-left: 0.5rem;
}

div.product-detail-size p{
    margin-bottom: 0.5rem;
}

div.product-detail-quantity{
    margin-top: 1rem;
}

div.product-detail-quantity p{
    margin-bottom: 0.5rem;
}

div.product-detail-quantity div.input-group{
    border: none !important;
    margin-bottom: 0.5rem !important;
}

div.input-group{
    margin-top: 0.5rem;
    width: 300px;
    height: 50px;
}

div.input-group-prepend,
div.input-group-append{
    margin-top: 0;
}

div.input-group input{
    border: 2px solid #152238;
    height: 40px;
}

div.input-group button{
    background-color: #fafafa;
    padding: 0.5rem;
    height: 40px;
}

div.input-group button:hover{
    background-color: #152238;
}

div.input-group button i{
    color: #f68b58;
}

.decrement-qty{
    border-top: 2px solid #152238;
    border-left: 2px solid #152238;
    border-bottom: 2px solid #152238;
    border-right: none;
}

.increment-qty{
    border-top: 2px solid #152238;
    border-right: 2px solid #152238;
    border-bottom: 2px solid #152238;
    border-left: none;
}

div.edit-delete-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.edit-delete-buttons .edit-button{
    text-decoration: none;
    border: 2px solid #5cb85c;
    padding: 0.72rem 2.45rem;
    color: #5cb85c;
    font-size: 1rem;
    margin-right: 1rem;
}

.edit-delete-buttons .edit-button:hover{
    color: #fafafa;
    background-color: #5cb85c;
    transition: 0.5s;
}

.edit-delete-buttons .delete-button{
    text-decoration: none;
    border: 2px solid #dc3545;
    padding: 0.68rem 2.22rem;
    color: #dc3545;
    font-size: 1rem;
    margin-right: 1rem;
}

.edit-delete-buttons .delete-button:hover{
    color: #fafafa;
    background-color: #dc3545;
    transition: 0.5s;
}

div.product-detail-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

}

div.product-detail-buttons i{
    color: #f68b58;
}

div.product-detail-buttons a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.85rem 2.5rem;
    color: #152238;
    font-size: 1rem;
    margin-right: 1rem;
}

div.product-detail-buttons a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

div.product-detail-buttons button{
    border: 2px solid #152238;
    padding: 0.71rem 3.5rem;
    background-color: #fafafa;
    color: #152238;
    font-size: 1rem;
}

div.product-detail-buttons button:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

/* ----- Add/ Edit Product Page Styling ----- */

.add-product-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 3rem;
}

.add-product-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

.add-product-header h5{
    font-size: 1.75rem;
    color: #152238;
    text-transform: uppercase;
    font-weight: bold;
}

.add-product-form label{
    font-size: 1.25rem;
    color: #152238;
    font-weight: bold;
    margin-top: 0.5rem;
}

.add-product-form input{
    border: 2px solid #152238;
    margin: 0.5rem 0 1rem;
    border-radius: 0;
}

.add-product-form textarea{
    border: 2px solid #152238;
    height: 150px;
}

.add-product-form select{
    border: 2px solid #152238;
    margin: 0.5rem 0 1rem;
    border-radius: 0;
    height: 45px;
}

.add-product-form input::placeholder{
    color: #152238;
}

.add-product-form-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
}

.add-product-form-buttons a{
    text-decoration: none;
    border: 2px solid #152238;
    padding: 0.75rem 1.5rem;
    color: #152238;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.add-product-form-buttons a:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

.add-product-form-buttons button{
    background-color: #fafafa;
    border: 2px solid #152238;
    padding: 0.75rem 1.5rem;
    color: #152238;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.add-product-form-buttons button:hover{
    color: #fafafa;
    background-color: #152238;
    transition: 0.5s;
}

.widget-p{
    font-size: 1.25rem;
    color: #152238;
    font-weight: bold;
}

.new-image-section{
    margin-top: 2.5rem;
    height: 200px;
}

.new-image-section p{
    margin-top: 1.5rem;
    color: #152238;
}

.btn-file{
    position: relative;
    overflow: hidden;
    background-color: #152238;
    border: 2px solid #152238;
    padding: 0.75rem 3.35rem;
    color: #fafafa;
    font-size: 1rem;
}

.btn-file:hover{
    background-color: #fafafa;
    color: #152238;
    transition: 0.5s;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

input#new-image{
    margin: 0;
    width: 350px;
    height: 100px;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .cusom-control-input:checked .custom-control-label::before{
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

div.input-group{
    width: 425px;
    height: 60px;
    background-color: #fafafa;
    margin-bottom: 2rem !important;
}

div.input-group span.text-break{
    padding-top: 0.75rem;
}

div.input-group input#image-clear_id{
    border: 2px solid #152238;
    width: 15px;
    height: 15px;
    margin-top: 0.35rem;
}

div.input-group label{
    margin: 0;
    font-size: 1.1rem;
}

.product-management-form-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #fafafa;
}

.product-management-form-input:focus,
.product-management-form-input:active {
    border: 2px solid #f68b58 !important;
    box-shadow: none; 
}

.product-management-form-input::placeholder {
    color: #152238 !important;
}

/* ----- Shopping Bag Page Styling ----- */

.shopping-cart-header{
    display: flex;
    justify-content: center;
    align-items: centre;
    flex-direction: column;
    margin: 2.5rem 0 3rem;
}

.shopping-cart-header h1{
    font-size: 3rem;
    color: #152238;
    text-align: left;
    text-transform: uppercase;
}

.shopping-cart-table{
    margin: auto;
}

.shopping-cart-table table{
    border: 2px solid #152238;
    background-color: #fafafa;
    color: #152238;
}

.shopping-cart-table th, td{
    border-bottom: 2px solid #152238;
    border-top: 2px solid #152238;
    vertical-align: middle;
}

.shopping-cart-table img{
    height: 150px;
    width: 150px;
}

.shopping-cart-total{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
}

.shopping-cart-total hr{
    width: 325px !important;
    margin-right: 0px;
    margin-bottom: 0.5rem;
}

.shopping-cart-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}

.shopping-cart-buttons i{
    color: #f68b58;
}

.shopping-cart-buttons a{
    text-decoration: none;
    border: 2px solid #152238;
    margin-top: 2rem;
    padding: 0.85rem 6rem;
    color: #152238;
    font-size: 1rem;
    margin-left: 2rem;
}

.shopping-cart-buttons a:hover{
    transition: 0.5s;
    background-color: #152238;
    color: #fafafa;
}

.update-link,
.update-link:hover{
    color: #152238;
    cursor: pointer;
    margin-left: 1rem;
}

.remove-item,
.remove-item:hover{
    color: #152238;
    cursor: pointer;
    margin-left: 6rem;
}

.shopping-cart-empty{
    height: 56vh;
}

.shopping-cart-empty p{
    color: #152238;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.shopping-cart-empty a{
    text-decoration: none;
    border: 2px solid #152238;
    margin-top: 2rem;
    padding: 0.85rem 14rem;
    color: #152238;
    font-size: 1rem;
}

.shopping-cart-empty a:hover{
    background-color: #152238;
    color: #fafafa;
    transition: 0.5s;
}

/* ----- Footer Styling ----- */

footer{
    background-color: #fafafa;
    border-top: 2px solid #152238
}

footer .quick-links p{
    text-align: center;
    padding: 1rem 0 1.5rem;
    color: #152238;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

footer .quick-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

footer .quick-links ul strong{
    font-size: 1.1rem;
}

footer .quick-links ul li{
    padding: 0 1.5rem;
}

footer .quick-links ul li:hover{
    transform: scale(1.05);
}

footer .quick-links ul li a{
    text-decoration: none;
    color: #152238;
    font-size: 1.25rem;
    font-weight: bold;
}

footer .quick-links ul li a:hover{
    color: #f68b58;
}

footer .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer .social-links ul{
    margin: 0;
    padding: 0;
}

footer .social-links li{
    display: inline-block;
    list-style-type: none;
    padding: 0.75rem 0;
}

footer .social-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152238;
    color: #fafafa;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem;
    text-decoration: none;
}

footer .social-links li a:hover{
    background-color: #f68b58;
    color: #152238;
    font-weight: bold;
}

footer .copyright p{
    color: #152238;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

nav.navbar.navbar-expand-lg.navbar-light{
    display: none;
}

@media screen and (max-width: 1200px) {

    /* ----- Header/ Navbar Styling for Laptop Devices ----- */

    .nav-links ul li{
        padding: 1rem;
    }

    .nav-links ul li a{
        font-size: 1rem;
    }

    /* ----- Home Page Styling for Laptop Devices ----- */

    .hero-image-content h1{
        font-size: 4rem;
        text-align: center;
    }

    .hero-image-content h4{
        font-size: 2.75rem;
        text-align: center;
    }

    .hero-image-content h6{
        text-align: center;
    }

}

@media screen and (max-width: 992px) {

    .header-icons ul {
        margin-right: 2rem;
    }

    /* ----- Home Page Styling ----- */

    .shop-for-men-image{
        background-position: right;
    }

}

@media screen and (max-width: 768px){

    /* ----- Burger Menu Styling for Tablet Devices ----- */

    div.col-12.nav-links-small{
        display: none;
    }
    
    nav.navbar.navbar-expand-lg.navbar-light{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        border-bottom: 2px solid #152238;
        width: 100%;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler{
        background-color: #fafafa;
        border: 2px solid #152238;
        width: 3.5rem;
        height: 3rem;
        text-align: center;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler span.fas.fa-bars::before{
        color: #152238;
        font-size: 1.75rem;
    }

    div#navbarToggleExternalContent.burger-nav-links.collapsing{
        display: none;
    }

    div#navbarToggleExternalContent.burger-nav-links.collapse.show{
        background-color: #fafafa;
        border-bottom: 2px solid #152238;
    }

    .burger-nav-links ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
        margin-bottom: 0 !important;
        padding-left: 0;
    }
    
    .burger-nav-links ul li{
        display: flex;
        align-items: center;
        border-top: 2px solid #152238;
        width: 100%;
        height: 60px;
    }

    .burger-nav-links ul li:first-child{
        border-top: none;
    }
    
    .burger-nav-links ul li a{
        text-decoration: none;
        color: #152238;
        font-weight: bold;
        font-size: 1.25rem;
        padding-left: 1rem;
    }

    .burger-nav-links ul li a:hover{
        color: #f68b58;
    }

    /* ----- Home Page Styling ----- */

    .shop-for-men-image{
        background-position: right;
    }

    /* ----- Sign In & Sigg Up Page Styling for Tablet Devices ----- */

    .sign-in-form{
        display: block;
        width: 100%;
    }

    .sign-in-form input{
        width: 100%;
    }

    /* ----- Contact Page Styling for Tablet Devices ----- */

    .customer-contact-text h6{
        font-size: 0.9rem;
    }

    .technical-contact-text h6{
        font-size: 0.9rem;
    }

    .contact-form form{
        width: 550px;
    }

    .contact-form form input{
        width: 550px;
    }

    .contact-form form textarea{
        width: 550px;
    }

    /* ----- Products Page Styling ----- */

    .category-name-buttons-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin: 0.5rem 0;
        margin-bottom: 2rem;
    }

    .category-name-buttons{
        margin: 0.75rem;
    }

    .category-name-buttons-section a{
        padding: 0.5rem 4rem;
    }

@media screen and (max-width: 767px) {

    /* ----- Header/ Navbar Styling for Tablet Devices ----- */

    .navigation{
        display: none;
    }

    .header-content .col-5{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;
    }

    .header-logo a{
        font-size: 1.25rem;
    }

    .header-icons ul{
        margin-right: 0.5rem;
    }

    .header-icons ul li{
        width: 75px;
    }

    .header-icons ul li a{
        font-size: 1rem;
    }

    .header-icons ul li a i{
        font-size: 1.5rem;
    }

    /* ----- Home Page Styling for Tablet Devices ----- */

    .hero-image-content h1{
        font-size: 3.5rem;
        text-align: center;
    }

    .hero-image-content h4{
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    .hero-image-content h6{
        text-align: center;
        font-size: 1.25rem;
    }

    .shop-for-men-content{
        border-top: none;
    }

    .shop-for-women-content{
        border-bottom: none;
    }

}

@media screen and (max-width: 576px) {

    /* ----- Header/ Navbar Styling for Mobile Devices ----- */

    .header-content{
        display: none;
    }

    .header-content-mobile{
        display: block;
    }

    .header-content-mobile .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 2px solid #152238;
    }

    .header-content-mobile .header-icons{
        padding: 0.75rem 0;
        border-bottom: 2px solid #152238;
    }

    .header-content-mobile .header-icons ul{
        padding: 0;
        margin: 0;
    }


    .header-content-mobile .header-icons ul li{
        width: 75px;
    }

    .header-content-mobile .header-icons ul li a{
        font-size: 0.75rem;
    }

    .header-content-mobile .header-icons ul li a i{
        font-size: 1rem;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler{
        width: 4rem;
        height: 2.5rem;
        padding: 0;
        border: 1px solid #152238;
    }

    nav.navbar.navbar-expand-lg.navbar-light button.navbar-toggler span.fas.fa-bars::before{
        font-size: 1.5rem;
    }

    /* ----- Sign In & Sing Up Form Styling ----- */

    .sign-in-form input{
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: 2px solid #152238;
    outline: none;
    border-radius: 0;
    }

    .sign-in-form-header{
        text-align: center;
    }
    
    .form-check-input[type=checkbox] {
        border-radius: 0;
        width: 15px !important;
        height: 15px !important;
        margin-right: 0.25rem;
        margin-bottom: 0;
        padding: 0;
    }

    label.form-check-label{
        font-size: 1rem;
    }

    .sign-in-forgot{
        font-size: 1rem;
    }

    /* ----- Contact Page Styling for Tablet Devices ----- */

    .customer-contact-text h4{
        font-size: 1rem;
    }

    .customer-contact-text h6{
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }

    .technical-contact-text h4{
        font-size: 1rem;
    }

    .technical-contact-text h6{
        font-size: 0.75rem;
    }

    .contact-form form{
        width: 100%;
    }

    .contact-form form input{
        width: 100%;
    }

    .contact-form form textarea{
        width: 100%;
    }

    /* ----- Search Page Styling ----- */

    .search-bar::placeholder{
        color: #152238;
        font-size: 0.9rem;
    }

    .search-bar-text h4{
        font-size: 1.1rem;
    }

    .search-bar-text p{
        font-size: 0.8rem;
    }

    /* ----- Footer Styling for Mobile Devices ----- */

    /* ----- Footer Styling ----- */

    footer .quick-links ul strong{
        font-size: 0.75rem;
    }

    footer .quick-links ul li{
        padding: 0 0.5rem;
    }

    footer .quick-links ul li:hover{
        transform: scale(1.05);
    }

    footer .quick-links ul li a{
        font-size: 0.8rem;
    }

    footer .quick-links ul li a:hover{
        color: #f68b58;
    }

    footer .social-links{
        padding: 0.5rem;
    }

    footer .social-links li{
        padding: 0.5rem 0;
    }

    footer .social-links li a{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0 0.25rem;
    }

    footer .copyright p{
        font-size: 0.75rem;
        padding: 0 1rem 1rem;
    }

}