{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="error-message">

                    <h1>400</h1>

                    <h1>PAGE NOT FOUND</h1>

                    <h2>The Page You Are Looking For Does Not Exist!</h2>

                    <h4>Go Back To Identity Clothing</h4>

                    <a href="{% url 'home' %}">Back To Home Page</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}