{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="error-message">

                    <h1 class="text-danger">404</h1>

                    <h1 class="text-danger">PAGE NOT FOUND</h1>

                    <h2>THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST!</h2>

                    <h4>Go Back To Safety</h4>

                    <a href="{% url 'home' %}">Back To Home Page</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}