<div class="container-fluid">

    <div class="row">

        <div class="col-12">

            <nav class="navbar navbar-expand-lg navbar-light">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" 
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>

            </nav>

            <div class="collapse burger-nav-links" id="navbarToggleExternalContent">

                <ul>

                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'products' %}?category=mens_hoodies,mens_shorts,mens_tshirts">Men's Clothing</a></li>

                    <li><a href="{% url 'products' %}?category=womens_hoodies,womens_shorts,womens_tshirts">Women's Clothing</a></li>

                    <li><a href="{% url 'products_on_sale' %}">Clothing Items on Sale</a></li>

                    <li><a href="{% url 'products' %}">View All Clothing Items</a></li>

                </ul>

            </div>

        </div>

    </div>

</div>