<div class="container-fluid">

    <div class="row">

        <div class="navigation">

            <div class="col-12">

                <nav class="nav-links">

                    <ul>

                        <li><a href="{% url 'home' %}">Home</a></li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Men's Clothing
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="#">Men's Hoodies</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Men's T-shirts</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Men's Shorts</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">View All</a></li>

                            </ul>

                        </li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Women's Clothing
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="#">Women's Hoodies</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Women's T-shirts</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Women's Shorts</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">View All</a></li>

                            </ul>

                        </li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Items On Sale
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="#">Men's Clothing</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Women's Clothing</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">View All</a></li>

                            </ul>

                        </li>

                    </ul>

                </nav>

            </div>

        </div>

    </div>

</div>