<div class="container-fluid">

    <div class="row">

        <div class="navigation">

            <div class="col-12 nav-links-small">

                <nav class="nav-links">

                    <ul>

                        <li><a href="{% url 'home' %}">Home</a></li>

                        <li><a href="{% url 'products' %}?category=mens_hoodies,mens_shorts,mens_tshirts">Men's Clothing</a></li>

                        <li><a href="{% url 'products' %}?category=womens_hoodies,womens_shorts,womens_tshirts">Women's Clothing</a></li>

                        <li><a href="{% url 'products_on_sale' %}">Clothing Items on Sale</a></li>

                        <li><a href="{% url 'products' %}">View All Clothing Items</a></li>

                    </ul>

                </nav>

            </div>

        </div>

    </div>

</div>