{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}

<div class="container">

    <div class="row">

        <div class="col-12">

            <div class="account-header">

                <h1>{% trans 'Account Inactive' %}</h1>

                <hr>

            </div>            

        </div>

    </div>

</div>

<div class="container account-inactive-section">

    <div class="row">

        <div class="col-12">

            <p>{% trans "This account is inactive." %}</p>

        </div>

    </div>

</div>

{% endblock %}
