{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

  <div class="container">

    <div class="row">

        <div class="col-12">

            <div class="account-header">

                <h1>{% trans 'Sign Up' %}</h1>

                <hr>

            </div>

        </div>

    </div>

  </div>

  <div class="container-fluid">

    <div class="row">
  
      <div class="col-12">
  
        <div class="sign-in-form-header">
  
          <h1>Create An Account With Us</h1>
  
        </div>

        <div class="sign-in-form">

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="col-12">

              <div class="sign-up-button">
  
                <button class="primaryAction" type="submit">{% trans "Sign Up" %}</button>
              
                </div>
  
            </div>

          </form>

        </div>

          <hr>

        <div class="row">
      
          <div class="col-12">
      
            <div class="new-customer-content">
      
              <h1>Already Have An Account?</h1>
      
              <h4>Already have an an account with us? Sign in to your account!</h4>
      
              <a href="{{ login_url }}">Sign In</a>
      
            </div>

          </div>

        </div>
      
       </div>
        
    </div>
        
  </div>

{% endblock %}
