{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="account-header">

                    <h1>{% trans 'Verify Your Email Address' %}</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container verify-email-section">

        <div class="row">

            <div class="col-12">

                <div class="verify-email">

                    <p>{% blocktrans %}We have sent a verification email to you. Please follow the link provided to finalize the signup process.</p>

                    <p>Please contact us if you do not receive a verification email within a few minutes.{% endblocktrans %}</p>
            
                    <a href="{% url 'home' %}">Contact Us</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
