{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="add-product-header">

                    <h1>Product Management</h1>

                    <h5>Edit A Clothing Item</h5>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">
     
            <div class="col-12 col-md-6">

                <form method="POST" action="{% url 'edit_product' product.id %}" class="add-product-form" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="add-product-form-buttons">

                        <a href="{% url 'products' %}">Cancel</a>

                        <button type="submit">Update Clothing Item</button>

                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}