{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="current-category-header">

                    <h1>Clothing Items</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="category-name-buttons-section">

                    {% for c in current_categories %}

                    <div class="category-name-buttons">

                        <a href="{% url 'products' %}?category={{ c.name }}">
                            {{ c.friendly_name }}
                        </a>

                    </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-6">

                <div class="product-number">

                    <span><a href="{% url 'products' %}">All Products</a> | </span>
                    
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}

                </div>

            </div>

            <div class="col-12 col-sm-6">

                <div class="product-filters">

                    <select id="sort-selector" class="{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">

                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>

                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                            (low to high)</option>

                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>

                        <option value="average_rating_asc" {% if current_sorting == 'average_rating_asc' %}selected{% endif %}>
                            Rating (low to high)</option>

                        <option value="average_rating_desc" {% if current_sorting == 'average_rating_desc' %}selected{% endif %}>
                            Rating (high to low)</option>

                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>

                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>

                    </select>

                </div>

            </div>           

        </div>

    </div>
    
    <div class="container">

        <div class="row">

            {% for product in products %}

                <div class="col-sm-12 col-md-6 col-xl-4">

                    <div class="product-item">

                        <div class="product-image-card">

                            {% if product.is_on_sale is True %}
                                <div class="sale-text">
                                    Sale
                                </div>
                            {% endif %}
                            

                            <div>                   
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <i class="fas fa-image"></i>
                                    </a>
                                {% endif %}
                            </div>

                        </div>

                        <div class="row product-item-content">

                            <div class="product-image-name">

                                <a href="{% url 'product_detail' product.id %}">
                                    <h6><strong>{{ product.name }}</strong></h6>
                                </a>

                            </div>

                            <div class="average-product-rating">

                                {% if product.average_rating > 0 %}
                                    {% with ''|center:product.average_rating as range %}
                                        {% for _ in range %}
                                            <h5><i class="fas fa-star"></i></h5>
                                        {% endfor %}
                                    {% endwith %}
                                {% else %}
                                    <h5 class="text-danger"><strong>No Rating</strong></h5>
                                {% endif %}

                            </div>

                            <div class="product-image-content">

                                <h6>Price: £{{ product.price }}</h6>

                            </div>

                            {% if request.user.is_superuser %}

                                <div class="product-super-user-buttons">
   
                                    <a class="edit-button-product" href="{% url 'edit_product' product.id %}">Edit Clothing Item</a>
                                    
                                    <!-- Delete Product Modal Button --> 
                                    <button type="button" class="delete-product-button" data-bs-toggle="modal" data-bs-target="#deleteProductModal{{ product.id }}">
                                        <span class="text-danger">Delete Clothing Item</span>
                                    </button>
                                        
                                    <!-- Delete Product Modal -->
                                    <div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog">

                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h6 class="modal-title text-danger" id="exampleModalLabel">Delete Product - {{ product.name }}</h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">

                                                    <h6>Once deleted, this product will be permanently removed from the database.</h6>
                                                    <h6>Are you sure you want to delete {{ product.name }}?</h6>
                                                    
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="delete-modal-no" data-bs-dismiss="modal">No</button>
                                                    <a class="delete-modal-yes" href="{% url 'delete_product' product.id %}">Yes</a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                    <div class="product-hr">
                        <hr>
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>


{% endblock %}


{% block postloadjs %}

    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset"){
                console.log(selectedVal);
                var sort;
                var direction; 
                
                if (selectedVal.startsWith("average_rating")) {
                    sort = selectedVal.split('_');
                    direction = sort[2];
                    sort = `${sort[0]}_${sort[1]}`;
                }
                else {
                    sort = selectedVal.split("_")[0];
                    direction = selectedVal.split("_")[1];
                }

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>

{% endblock %}