{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="current-category-header">

                    <h1>{{ product.name }}</h1>

                    <hr>

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="category-name-buttons-section">

                    {% for c in current_categories %}

                    <div class="category-name-buttons">

                        <a href="{% url 'products' %}?category={{ c.name }}">
                            {{ c.friendly_name }}
                        </a>

                    </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="dropdown">

                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter Clothing Items
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=product_rating&direction=desc">By Rating</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'products' %}">View All Clothing Items</a></li>

                    </ul>

                </div>

            </div>

        </div>

    </div>
    
    <div class="container-fluid">

        <div class="row">

            {% for product in products %}

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                    <div class="product-item">

                        <div class="product-image-card">

                            <div>                   
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="/images/{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ IMAGES_URL}}{{noimage.png }}" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                            </div>

                        </div>

                        <div class="row product-item-content">

                            <div class="product-image-name">

                                <a href="{% url 'product_detail' product.id %}">
                                    <h6><strong>{{ product.name }}</strong></h6>
                                </a>

                            </div>

                            <div class="product-image-content">

                                <h6>Price: £{{ product.price }}</h6>

                                {% if product.product_rating == 1%}
                                    <h6><i class="fas fa-star"></i></h6>
                                {% elif product.product_rating == 2 %}
                                    <h6><i class="fas fa-star"></i><i class="fas fa-star"></i></h6>
                                {% elif product.product_rating == 3 %}
                                    <h6><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h6>
                                {% elif product.product_rating == 4 %}
                                    <h6><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h6>
                                {% else %}
                                    <h6><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h6>
                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-12 d-sm-none">
                    <hr>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr>
                    </div>
                {% endif %}

                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none">
                        <hr>
                    </div>
                {% endif %}

                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block">
                        <hr>
                    </div>
                {% endif %}

            {% endfor %}

        </div>

    </div>

{% endblock %}