{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-6">

                <div class="product-detail-item">

                    <div class="product-detail-image-card">

                        <div>
                            {% if product.image %}
                                <a href="{{ product.image.url }}" target="_blank">
                                    <img src="/images/{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="#">
                                    <img src="{{ IMAGES_URL}}{{noimage.png }}" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-12 col-md-6">

                <div class="row product-detail-item-content">

                    <div>

                        <h6><strong>{{ product.name }}</strong></h6>

                        <h6>Price: £{{ product.price }}</h6>

                        {% if product.product_rating %}
                            <h6>Rating: <i class="fas fa-star"></i> {{ product.product_rating }}/5</h6>
                        {% else %}
                            <h6>No Rating</h6>
                        {% endif %}

                        <p>{{ product.description }}</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}