{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="search-header">

                    <h1>Search</h1>

                    <hr>
            
                </div>
            
            </div>

            <!-- Search Query Input -->

            <div class="col-12">

                <form class="search-bar-form">

                    <input class="search-bar" type="search" name="q" placeholder="Search for a clothing item">

                    <button class="search-button" type="submit">

                        <i class="fas fa-search"></i> Search

                    </button>

                </form>

            </div>

            {% if search_term %}

                <div class="display-none"></div>

            {% else %}

            <div class="col-12">

                <div class="search-bar-text">

                    <h4>Please search for a clothing item within our database</h4>

                    <p>Alternatively, you can select a clothing category below:</p>

                </div>

            </div>

            {% endif %}

        </div>

    </div>

    <!-- Search Query No Results Section -->

    <div class="container">

        <div class="row">

            {% if search_term %}

                {% if products|length < 1 %}

                <div class="col-12">

                    <div class="no-results">

                        <h2>We're Sorry!</h2>

                        <h4>We were not able to find any results matching your search query: "{{ search_term }}"</h4>

                        <p>
                            Please search again or select a clothing category below:
                        </p>

                    </div>

                </div>

                {% else %}

                    <!-- Products Information Section -->

                    {% for product in products %}

                        <div class="col-sm-12 col-md-6 col-xl-4">

                            <div class="product-item">

                                <div class="product-image-card">

                                    {% if product.is_on_sale is True %}
                                        <div class="sale-text">
                                            Sale
                                        </div>
                                    {% endif %}

                                    <div>                
                                        {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <i class="fas fa-image"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="row product-item-content">

                                    <div class="product-image-name">
        
                                        <a href="{% url 'product_detail' product.id %}">
                                            <h6><strong>{{ product.name }}</strong></h6>
                                        </a>
        
                                    </div>
        
                                    <div class="average-product-rating">
        
                                        {% if product.average_rating > 0 %}
                                            {% with ''|center:product.average_rating as range %}
                                                {% for _ in range %}
                                                    <h5><i class="fas fa-star"></i></h5>
                                                {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            <h5 class="text-danger"><strong>No Rating</strong></h5>
                                        {% endif %}
        
                                    </div>
        
                                    <div class="product-image-content">
        
                                        <h6>Price: £{{ product.price }}</h6>
        
                                    </div>

                                </div>

                            </div>

                            <div class="product-hr">
                                <hr>
                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

            {% endif %}

            <!-- Products Category Options -->

            {% if not search_term or products|length < 1 %}

                <div class="col-12">

                    <div class="row">

                        <div class="col-12 col-xl-4">

                            <div class="search-men-category-image">

                                <a href="{% url 'products' %}?category=mens_hoodies,mens_shorts,mens_tshirts">

                                    <div class="search-men-category-image-img"></div>

                                </a>

                            </div>

                            <div class="search-category-buttons">

                                <a href="{% url 'products' %}?category=mens_hoodies,mens_shorts,mens_tshirts">
                                    View Men's Clothing
                                </a>

                            </div>

                        </div>

                        <div class="col-12 col-xl-4">

                            <div class="search-women-category-image">

                                <a href="{% url 'products' %}?category=womens_hoodies,womens_shorts,womens_tshirts">

                                    <div class="search-women-category-image-img"></div>

                                </a>

                            </div>

                            <div class="search-category-buttons">

                                <a href="{% url 'products' %}?category=womens_hoodies,womens_shorts,womens_tshirts">
                                    View Women's Clothing
                                </a>

                            </div>

                        </div>

                        <div class="col-12 col-xl-4">

                            <div class="search-sale-category-image">

                                <a href="{% url 'products_on_sale' %}">
                                
                                    <div class="search-sale-category-image-img"></div>

                                </a>

                            </div>

                            <div class="search-category-buttons">

                                <a href="{% url 'products_on_sale' %}">
                                    View Clothing Items On Sale
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}